button {
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 12px;
    background-color: #f70101;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font: 100% courier new;
}

button:hover {
    background-color: #400202;
    color: rgb(250, 249, 249);
}
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
footer {
    background-color: #ca4502;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, #ca4502, #f70101);
    font-family: bold courier new;
}